<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Pizza</title>
    <link rel="shortcut icon" href="pizza.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Welcome to Express Pizza!</h1>
    <h2>Specialty Pizza</h2>

    <ul>
        <li><a href="/specialty?name=Anchovy+Lover's&price=15.00">Anchovy Lover's</a></li>
        <li><a href="/specialty?name=Paleo+Pizza&price=18.00">Paleo Pizza</a></li>
        <li><a href="/specialty?name=Dessert+Pizza&price=12.00"> Dessert Pizza</a></li>
    </ul>

    <h3>Custom Pizza</h3>

    <a href="#">Build your own!</a>

    <h3>Leave a review</h3>
    <a href="/reviews">Click here to leave a review</a>

<img src="masimo-grabar-NzHRSLhc6Cs-unsplash.jpg" alt="whole pizza" >


</body>
</html>